html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

#username {
    margin-right: 30px;
}

h1 {
    margin-left: 18px;
    font-family: "Bebas Neue", sans-serif;
}

p {
    margin-left: 18px;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}

.navbar {
    width:100%;
    border-bottom:2px solid black;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#profile {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20px;
}

.maincontent {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
}

#uploadVid {
    width: 100%;
    height: 100%;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#uploadDetails {
    width: 100%;
    height: 28%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#uploadForm input {
    margin: 20px;
}

#fileToUpload {
    display: none;
}

.custom-file-upload {
    text-align: center;
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#submit {
    color: white;
    background-color: #D90166;
    border: 0.5px solid black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    margin-right: 20px;
    height: 75%;
    width: 8%;
}

.footer {
    width: 100%;
    height: 10%;
}