h1 {
    margin-left: 18px;
    font-family: "Bebas Neue", sans-serif;
}

p {
    margin-left: 18px;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}

.navbar {
    width: 100%;
    border-bottom: 2px solid black;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#profile {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20px;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

body {
    height: 80%;
}

.maincontent {
    height: 100%;
    display: flex;
    align-items: center;
}

#videoFormDetails {
    width: 50%;
    height: 100%;
}


#selectedVid {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    width: 50%;
}

.video-player {
    width: 90%;
    height: 600px;
}


#commentsMade {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    height: 60%;
}

#comSub {
    height: 40%;
    margin-left: 0px;
}

#commentArea {
    height: 80%;
    margin: 10px;
    width: 70%;
}

#submitButton {
    color: white;
    background-color: #D90166;
    border: 0.5px solid black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    border-radius: 8px;
    margin-right: 20px;
    height: 80%;
    width: 20%;
}

#submitButton:hover {
    background-color: #E11584;
    cursor: pointer;
}

#labelSelector {
    width: 90%;
    height: 40px;
}

#labelSelector button {
    width: 24%;
    height: 100%;
    color: white;
    background-color: #D90166;
    border: 1px solid black;
}

::placeholder {
    color: white;
    text-align: center;
}

#labelSelector input {
    width: 22%;
    height: 90%;
    color: white;
    background-color: #D90166;
    border: 1px solid black;
}


.video-label {
    color: black;
}

.hidden {
    display: none;
}